.login {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.card {
  padding: 50px;
  background-color: #23272f;
  border-radius: 25px;
  width: 300px;
  text-align: center;
}

.card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card form input {
  color: white;
  background-color: #353a43;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card form button {
  padding: 10px;
  color: white;
  background-color: #7e8e9d;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

#logged {
  margin-top: 50px;
  display: none;
  justify-content: center;
}